body {
    display: block;
}

#wrapper {
    display: grid;
    grid-template-columns: .5fr repeat(7, 1fr) .5fr;
    grid-template-rows: .5fr repeat(7, 1fr) .5fr;
    grid-template-areas: 
    "header header header header header header header header header"
    "sidebar main main main main main main main main"
    "sidebar main main main main main main main main"
    "sidebar main main main main main main main main"
    "sidebar main main main main main main main main"
    "sidebar main main main main main main main main"
    "sidebar main main main main main main main main"
    "sidebar main main main main main main main main"
    "footer footer footer footer footer footer footer footer footer";
    height: 100vh;
}

#header {
    grid-area: header;
    background-color: brown;
    display: flex;
    align-items: center;
}

#new-todo-btn {
    margin-left: auto;
}

#sidebar {
    grid-area: sidebar;
    background-color: bisque;
}

#footer {
    grid-area: footer;
    background-color: green;
    text-align: center;
}

#main-content {
    background-color: rgb(101, 124, 216);
    grid-area: main;
}
